@media all and (max-width:600px) {
    /* nav-bar */
    .nav-bar{
        display: none;
    }
    .head-container .action{
        display: block;
    }

    #checkbox:checked ~ .hamburger {
        right: 0;
      }
  
      .list-items:nth-child(1){
        margin-top: 20px;
      }
  
    .list-items {
        position: relative;
    }
    
    /* Đẩy lùi "Chính sách đổi trả" xuống */
    .list-items:nth-child(4):hover .item-down {
        position: absolute;
        top: 100%; /* Đặt vị trí phần tử con dưới phần tử cha */
        left: 0;
        z-index: 1; /* Đảm bảo phần tử con nằm trên các phần tử khác */
    }

    /* content */
    .content{
        margin: 80px auto 0;
    }

    .content h2{
        font-size: 1.45rem;
    }

    .content .warn{
        font-weight: 900;
        font-size: 0.875rem;
        margin: 10px 0 20px;
    }

    .content .box-1{

    }

    .content .box-1 h3{
        font-size: 1.25rem;
    }

    .content .box-1 p{
        font-size: 0.75rem;
    }

    .content.box-1 .list{
        font-size: 0.75rem;
    }
    .content .box-1 .list li{
        margin-bottom: 2px;
        margin-left: 25px;
        font-size: 0.75rem;
        margin-bottom: 4px;
    }


    .content .box-2{
        
    }

    .content .box-2 h3{
        font-size: 1.25rem;
    }

    .content .box-2 p{
        font-size: 0.75rem;
    }

    .content .box-2 .list{
        font-size: 0.75rem;
    }

    .content .box-2 .list li{
        margin-bottom: 10px;
    }

    /* footer */
    footer {
        margin: 40px auto 0;
    }
    .shop h3{
        font-size: 1rem;
        line-height:17px;
    }
    .location p {
        font-size: 0.65rem;
        line-height:13px;
    }
    .mxh h3{
        font-size: 1rem;
        line-height:17px;
    }
    .mxh .icons {
        width: 90%;
        height: 20px;
    }

    .mxh ul li {
        font-size: 0.65rem;
        line-height:13px;
        margin: 2% 0 0 6%;
    }
    .fanpage{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .fanpage h3{
        font-size: 1rem;
        line-height:17px;
    }
    .fanpage p{
        font-size: 0.65rem;
        line-height:13px;
        margin: 3% 0 0;
    }


}